<form class="" action="/deactivate" method="post">
  <h3>Enter password to deactivate your account.</h3>
  <input type="text" name="password" placeholder = "Password">
  <input type="submit" name="deactivate-submit" value="Submit">
</form>
