<form id = "deactivated-form" action="/deactivated" method="post">
<h3>Your account has been deactivated.</h3>
<h3>Do you want to reactivate it?</h3>
<input type="submit" name="reactivate[yes]" value="Yes">
<input type="submit" name="reactivate[no]" value="No">


</form>
