<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form id ="newPost" action="/feed" method="post">
      <input id = "contentArea" type="text" name="feed[content]" placeholder = "What's on your noggin'?">
      <input type="submit" name="contentSubmit" value="Post">
    </form>

    <div id = "count"></div>

    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
