<head>
  <link rel="stylesheet" href="main.css">
</head>

<nav>
  <!-- <a href = "/"><li>Sign Up</li></a> -->
  <a href="/"><li>Sign Up</li></a>
</nav>
<h1>Log In</h1>

<form class="" action="/login" method="post">
  <input type="email"    name="user[email]"    placeholder = "Email"><br>
  <input type="password" name="user[password]" placeholder = "Password"><br>
  <input type="submit"   name="Submit" value = "Log in">
</form>
