<nav>
  <a href="/feed">Feed</a>
<<<<<<< HEAD
  <a href="/profile/:id}">Profile</a>
=======
  <a href="/profile ">Profile</a>
>>>>>>> 87114c35ea0a85986d6abf597a6c276dbc64b630
  <a href="/logout">Log Out</a>
</nav>
