
<form class="reactivate-form" action="index.html" method="post">

<h3>Enter your email and password to reactivate your account.</h3>
<input type="text" name="reactivate-email" placeholder="Email"><br>
<input type="text" name="reactive-pass" placeholder="Password"><br>
<input type="submit" name="reactivate-submit" value="reactivate">

</form>
