
<form class="reactivate-form" action="/reactivate" method="post">

<h3>Enter your email and password to reactivate your account.</h3>
<input type="text" name="email" placeholder="Email"><br>
<input type="password" name="password" placeholder="Password"><br>
<input type="submit" name="submitBtn" value="reactivate">

</form>
