<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quillicious</title>
    <link rel="stylesheet" href="start.css">
  </head>
  <body>

      <nav>

         <a href="/login"><li>Login</li></a>



      </nav>
<div id = "startbox">


      <form id ="signup-form"  action="/" method="post">
        <h1>Sign Up</h1>
        <input autofocus = true class = "signup-input" required type="text"     name = "user[first_name]" placeholder="First Name"><br>
        <input class = "signup-input" required type="text"     name = "user[last_name]"  placeholder="Last Name"><br>
        <input class = "signup-input" required type="email"    name = "user[email]"      placeholder="Email"><br>
        <input class = "signup-input" required type="text"     name = "user[birthday]"   placeholder="birthday (mm/dd/yyyy)"><br>
        <input class = "signup-input" required type="password" name = "user[password]"   placeholder="Password"><br>
        <input class = "signup-submit" required type="submit"   value="Submit">
      </form>

</div>
    <script src = "main.js"></script>
  </body>
</html>
