<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quillicious</title>
    <link rel="stylesheet" href="start.css">
  </head>
  <body>



         <a id = 'loginBtn' href="/login"><li>Log In</li></a>

<div id = "startbox">

  <div id="startbox-left">
    <div id="startbox-left-container">
      <!-- <h2 id= "startbox-beforetitle">Welcome to </h2> -->
      <h1 id ="startbox-left-sign"> " </h1>
      <h1 id ="startbox-left-title">Quotes </h1>
      <h4 id="startbox-left-subtitle">We all have'em.</h4>

      <div id = "startbox-left-qotd-container">

        <!-- <h3 id="startbox-left-qotd">Qoute of the Day:</h3> -->
        <p id = "startbox-left-qoute">"If you keep being afraid of what you're trying to accomplish, you'll never be successful." </p>
          <i id= "startbox-left-qoute-person">-Darian "Quill" Jarvis</i>
      </div>
    </div>
  </div>

  <div id="startbox-right">
      <form id ="signup-form"  action="/" method="post">
        <h1>Sign Up</h1>
        <input autofocus = true class = "signup-input" required type="text"     name = "user[first_name]" placeholder="First Name"><br>
        <input class = "signup-input"  required type="text"     name = "user[last_name]"  placeholder="Last Name"><br>
        <input class = "signup-input"  required type="email"    name = "user[email]"      placeholder="Email"><br>
        <input class = "signup-input"  required type="text"     name = "user[birthday]"   placeholder="birthday (mm/dd/yyyy)"><br>
        <input class = "signup-input"  required type="password" name = "user[password]"   placeholder="Password"><br>
        <input class = "signup-submit" required type="submit"   value="Submit">
      </form>
    </div>

</div>
    <script src = "main.js"></script>
  </body>
</html>
