<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PenManShip</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div id="start">
      <nav>
        <a href = "/"><li>Sign Up</li></a>
        <a href="/login"><li>Login</li></a>
      </nav>
      <form id =""  action="/" method="post">
        <input type="text" name = "user[first_name]" placeholder="First Name"><br>
        <input type="text" name = "user[last_name]" placeholder="Last Name"><br>
        <input type="email" name = "user[email]" placeholder="Email"><br>
        <input type="text" name = "user[birthday]" placeholder="birthday (mm/dd/yyyy)"><br>
        <input type="password" name = "user[password]" placeholder="Password"><br>
        <input type="submit" name="submit" value="Submit">
      </form>
  </div>
    <script src = "main.js"></script>
  </body>
</html>
