body {
  margin: 0 auto;
  font-family: 'Varela Round', sans-serif;
}
#loginBtn {
  float: right;
padding: 1% 1.5%;
margin: -1% 2%;
list-style: none;
text-decoration: none;
font-weight: bold;
font-size: 1.2em;
background-color: #9e9e9e;
color: #eee;
border-radius: 8px;
transition: 0.2s;
}

#loginBtn:hover{
  background-color: #119B13;
  }
#signup-form {
  margin: 2% auto;
  text-align: center;
  width: 24%;
  /* background-color: #9f9f9f; */
  padding: 2%;
  border-radius: 7px;
  box-shadow: 3px 4px 8px #9e9e9e;
}

  .signup-input, .signup-submit {
    margin: 5px;
    padding: 10px;
  }

    .signup-input {
      border-radius: 50px;
      border: solid 1px #9e9e9e;
      text-align: center;
      outline: none;
      transition: 0.2s;
    }
      .signup-input:focus{
        box-shadow: 0 0 1pt 0.2pt #1e1e1e
        /* outline-color: #01B2FE; */
        /* font-size: 1em; */

      }


    .signup-submit {
      width: 50%;
      background-color: #119B13;
      border: none;
      border-radius: 40px;
      color: #eee;
    }
    .signup-submit:hover {
      background-color: #156B13;
    }
